body {
  background-image: linear-gradient(to bottom left,#1f6d8086, #0c2a4959),
    url("../img/3273694.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

nav#sticky {
  position: fixed;
  width: 98.2%;
  margin: 0;
  z-index: 1;

  & .navbar-nav > .nav-item {
    padding: 10px;
    margin: 2px;
    background-color: #303035;

    &:hover {
      background-color: #222221;
    }
  }
}

nav#non-sticky {
  display: none;
}

header {
  color: #fff;
  height: 39vh;
  padding-top: 15vh;
  background: linear-gradient(0deg, rgba(16, 47, 184, 0.54),
      rgba(85, 87, 94, 0.69)), url("../img/199996.jpg");
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  margin-top: 0vh;
  margin-bottom: 5vh;
  height: 100vh;
  color: #fff;

  & .row {
    margin-top: 50px;
  }

  & .carousel {
    width: 450px;
    height: 230px;
    margin: 0 auto;
  }

  & .carousel-caption {
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.452), rgba(0, 0, 255, 0.582));
    font-weight: 500;
  }

  & .bio-img {
    border-radius: 100%;
  }

  & .bio {
    background-color: #23238871;
    padding: 5px;

    & a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .test-results {
      margin-bottom: 150px;
    }
  }
}

footer {
  color: #fff;
  position: absolute;
  width: 100%;
  padding: 10px;
}

@media screen and (min-height: 500px) and (max-height: 519px) {
  header {
    height: 24vh;
  }

  main {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media screen and (min-height: 520px) and (max-height: 600px) {
  header {
    height: 22vh;
  }

  main {
    padding-top: 25vh;
    padding-bottom: 25vh;
  }
}

@media screen and (min-height: 601px) and (max-height: 700) {
  header {
    height: 21vh;
  }

  main {
    padding-top: 20vh;
    padding-bottom: 20vh;
  }
}