body {
  background-image: linear-gradient(to bottom left, #28709886, #37383c59), url("../img/3273694.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

nav#sticky {
  position: fixed;
  width: 98.2%;
  margin: 0;
  z-index: 1;
}
nav#sticky .navbar-nav > .nav-item {
  padding: 10px;
  margin: 2px;
  background-color: #303035;
}
nav#sticky .navbar-nav > .nav-item:hover {
  background-color: #222221;
}

nav#non-sticky {
  display: none;
}

header {
  color: #fff;
  height: auto;
  padding-top: 15vh;
  background: linear-gradient(0deg, rgba(16, 47, 184, 0.54), rgba(85, 87, 94, 0.69)), url("../img/199996.jpg");
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 10px;
}

main {
  margin-top: 0vh;
  margin-bottom: 5vh;
  height: 100vh;
  color: #fff;
}
main .row {
  margin-top: 50px;
}
main .carousel {
  width: 450px;
  height: 230px;
  margin: 0 auto;
}
main .carousel-caption {
  background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.452), rgba(0, 0, 255, 0.582));
  font-weight: 500;
}
main .bio-img {
  border-radius: 100%;
}
main .bio {
  background-color: #23238871;
  padding: 5px;
}
main .bio a {
  text-decoration: none;
}
main .bio a:hover {
  text-decoration: underline;
}
main .bio .test-results {
  margin-bottom: 150px;
}

.project-container img {
  width: 100%;
  border: 3px #fff solid;
}
.project-container img:hover {
  opacity: 0.5;
  border-color: #287098;
}

.project-description {
  background-color: #000;
  padding: 0 10px 5px 10px;
  display: inline-block;
  height: 120px;
  overflow: auto;
}

.btn, .btn-light, .btn-dark {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
}
.btn:hover, .btn-light:hover, .btn-dark:hover {
  background: #287098;
  color: #000;
}

.btn-dark {
  background: black;
  color: #fff;
}

.btn-light {
  background: #b6b7bc;
  color: #37383c;
}

footer {
  color: #fff;
  position: absolute;
  width: 100%;
  padding: 10px;
}

@media screen and (min-height: 500px) and (max-height: 519px) {
  main {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 135vh;
  }
  main .carousel {
    width: 750px;
    height: 260px;
    margin: 0 auto;
  }
}
@media screen and (min-height: 520px) and (max-height: 600px) {
  main {
    padding-top: 25vh;
    padding-bottom: 25vh;
  }
}
@media screen and (min-height: 601px) and (max-height: 700px) {
  main {
    padding-top: 20vh;
    padding-bottom: 20vh;
    margin-bottom: 78vh;
  }
}
@media screen and (min-width: 280px) and (max-width: 300px) {
  button#navbar-toggler {
    margin-right: 12px;
  }
}
@media screen and (min-width: 301px) and (max-width: 400px) {
  button#navbar-toggler {
    margin-right: 10px;
  }
}
@media screen and (min-width: 701px) and (max-width: 767px) {
  main .carousel {
    width: 540px;
    height: 284px;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=styles.css.map */
